---
import Menu from "../components/menu.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<Menu></Menu>
        <slot/>
	</body>
</html>

<style>
	body
	{
		margin:0px;
	}
</style>